<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()" >
    <h1 mat-dialog-title>Registration Form</h1>
    <div mat-dialog-content class="content">
      <mat-form-field class="row">
        <mat-label>Name</mat-label>
        <input matInput type="text"formControlName="name" placeholder="Ex. Bob">
      </mat-form-field>
  
      <mat-form-field class="row">
        <mat-label>Email</mat-label>
        <input matInput type="email"formControlName="email" placeholder="Ex. bob@example.com">
      </mat-form-field>
  
      <mat-form-field class="row">
        <mat-label>Location</mat-label>
        <input matInput type="text"formControlName="location" placeholder="Ex. City, Country">
      </mat-form-field>
  
      <mat-form-field class="row">
        <mat-label>Skills</mat-label>
        <input matInput type="text"formControlName="skills" placeholder="Ex. Python, JavaScript">
      </mat-form-field>
  
      <mat-form-field class="row">
        <mat-label>Expected Salary</mat-label>
        <input matInput type="number"formControlName="salary" placeholder="Ex. 1000">
      </mat-form-field>
    </div>
  
    <div mat-dialog-actions class="action">
      <button mat-raised-button>Cancel</button>
      <button mat-raised-button color="primary" type="submit">Save</button>
    </div>
  </form>
  